<div class="card col-lg">

    <div class="card-header author">
        Users for BACS350 Project 8
    </div>
    <div class="card-body">
        <table class="table table-hover">
            <tr>
                <th>User</th>
                <th>Details</th>
            </tr>

            {% for author in authors %}
            <tr>
                <td><a href="/author/{{ author.pk }}">{{ author.name }}</a></td>
                <td>{{ author.bio }}</td>
                <td><a href="/author/{{ author.pk }}/">Modify</a></td>
            </tr>
            {% endfor %}

        </table>
    </div>

</div>