.card {
    box-shadow: 2px 2px 5px rgb(255, 2, 2);
    margin: 1em;
    padding: 0;
    background-color: goldenrod;
}

.card-header {
    color: blueviolet;
    font-size: large;
    margin: 50;
}

.author {
    background-color: goldenrod;
    color: blueviolet;
}

.message {
    background-color: goldenrod;
    color: blueviolet;
}

.textarea {
    max-width: 100%;
}

img {
    max-width: 100%;
}