h1 {
    color: purple;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.header {
    text-align: center;
}

.photo {
    margin: 2em;
    border-radius: 10px;
}

.center-div {
    display: flex;
    justify-content: center;
    align-items: center;
}
.centered-button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    background-color: #007bff; 
    color: whitesmoke;
    padding: 10px 20px; 
    border-radius: 5px; 
}
body {
    background-color: goldenrod;
    color: purple;
    text-align: center;
}
