{% extends 'theme.html' %}

{% block title %}Delete Article{% endblock %}

{% block content %}
<h1>Delete {{ article.title }}?</h1>

<p>Are you sure you want to delete <strong>{{ article.title }}</strong>?</p>

<form action="" method="post">
    {% csrf_token %}
    
    <!-- Delete button -->
    <button type="submit" class="btn btn-danger">Delete</button>

    <!-- Cancel button -->
    <a class="btn btn-secondary" href="{% url 'article-detail' article.pk %}">return</a>
</form>

{% endblock %}
